$color-accent: #d5effc;

.entry-content {
  .figure.figure--quote blockquote {
    background-color: $color-accent;
  }
}

.entry-footer .entry-footer__share {
  display: none;
}

.entry-header .entry-header__share .share__link--twitter {
  display: none;
}
