$color-common: #bb95f1;
$color-white: #fff;
$color-text: #3e0d85;

.footer {
  &>* {
    position: relative;
    z-index: 2;
  }

  .footer__copy a {
    color: $color-white;
    border-bottom: solid 1px;

    &:hover {
      border-bottom-color: transparent;
    }
  }
}

body {
  background-color: $color-common !important;
}


/**
 * caption styles
 */
.caption .caption__description {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  position: relative;

  max-width: 100%;
  margin: 1rem 0 0;
  padding: 1rem;
  text-align: center;

  color: $color-text;
  background: $color-white;
  text-transform: uppercase;
}

.caption .caption__description p {
  margin-bottom: 1rem;

  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;

  @media screen and (max-width: 767px) {
    font-size: 1rem;
  }

  @media screen and (max-width: 479px) {
    margin-bottom: 0.5rem;
    font-size: .875rem;
  }
}

.caption .caption__description img {
  width: 13.75rem;
  height: auto;
  margin: 1.5rem 0;

  @media screen and (max-width: 1023px) {
    width: 11rem;
  }

  @media screen and (max-width: 479px) {
    margin: 0.5rem 0 1rem;
    width: 8rem;
  }
}

.content .figure.figure--promo {
  display: block;

  .button {
    display: block;
    padding: 1.5rem 2rem 1.5rem;

    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.375;
    color: #000;

    text-transform: uppercase;
    text-align: left;

    color: $color-white;
    background-color: $color-text;
    border-radius: 0.5rem;

    strong {
      display: block;
    }

    &:hover {
      filter: brightness(120%);

      color: $color-white;
      background-color: $color-text;

      border-color: transparent;
    }

    @media screen and (max-width: 767px) {
      padding: 1rem;
      font-size: 0.875rem;
      line-height: 1.5;
    }
  }
}
