$color-common: #25649F;
$color-white: #fff;

.footer {
  &>* {
    position: relative;
    z-index: 2;
  }

  .footer__copy a {
    color: $color-white;
    border-bottom: solid 1px;

    &:hover {
      border-bottom-color: transparent;
    }
  }
}

body {
  background: #25649F;
}

.backdrop {
  display: none;
}


/**
 * caption styles
 */
.caption .caption__description {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  position: relative;

  max-width: 100%;
  margin: 1rem 0 0;
  padding: 0.5rem 1rem 1rem;
  text-align: center;

  color: $color-common;
  background: $color-white;
  text-transform: uppercase;
}

.caption .caption__description p {
  margin-bottom: 1rem;

  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.125;
  text-transform: uppercase;

  @media screen and (max-width: 767px) {
    font-size: 1rem;
  }

  @media screen and (max-width: 479px) {
    font-size: .875rem;
  }
}

.caption .caption__description img {
  width: 10rem;
  height: auto;
  margin: 1.5rem 0;

  @media screen and (max-width: 1023px) {
    width: 9rem;
  }

  @media screen and (max-width: 479px) {
    width: 8rem;
  }
}

.content .figure--promo {
  display: block;

  .button {
    display: block;
    padding-left: 6rem;

    font-size: 1rem;
    font-weight: 500;
    line-height: 1.375;
    color: $color-white;

    text-transform: uppercase;
    text-align: left;

    background-color: $color-common;
    background-image: url('images/rsv-logo.png');
    background-size: 4rem auto;
    background-repeat: no-repeat;
    background-position: 1rem center;

    border-radius: .5rem;

    @media screen and (max-width: 767px) {
      padding-left: 1rem;
      font-size: 0.875rem;
      line-height: 1.5;

      background-image: none;
    }
  }
}
